/*
Theme Name: awdagency
Theme URI: http://www.awdagency.com/
Description: Another theme for Awd Agency.
Author: Awd agency
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: awdagency
*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


@font-face {
    font-family: 'abchanel_couturesemibold';
    src: url('font/abchanelcouture-semibold-webfont-webfont.eot');
    src: url('font/abchanelcouture-semibold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/abchanelcouture-semibold-webfont-webfont.woff') format('woff'),
         url('font/abchanelcouture-semibold-webfont-webfont.ttf') format('truetype'),
         url('font/abchanelcouture-semibold-webfont-webfont.svg#abchanel_couturesemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LinotypeDidotItalic';
    src: url('font/01322_didotlhi-webfont-webfont.eot');
    src: url('font/01322_didotlhi-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/01322_didotlhi-webfont-webfont.woff') format('woff'),
         url('font/01322_didotlhi-webfont-webfont.ttf') format('truetype'),
         url('font/01322_didotlhi-webfont-webfont.svg#LinotypeDidotItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima_novabold';
    src: url('font/proximanova-bold-webfont-webfont.eot');
    src: url('font/proximanova-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-bold-webfont-webfont.woff') format('woff'),
         url('font/proximanova-bold-webfont-webfont.ttf') format('truetype'),
         url('font/proximanova-bold-webfont-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('font/proximanova-regular-webfont-webfont.eot');
    src: url('font/proximanova-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-regular-webfont-webfont.woff') format('woff'),
         url('font/proximanova-regular-webfont-webfont.ttf') format('truetype'),
         url('font/proximanova-regular-webfont-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('font/proximanova-light-webfont.eot');
    src: url('font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-light-webfont.woff') format('woff'),
         url('font/proximanova-light-webfont.ttf') format('truetype'),
         url('font/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{}
body{background-color:#111; overflow-x:hidden;}

p{font-family: 'proxima_novaregular'; font-size:12px; color:#000; margin-top:10px; line-height:1.3; }


/***MENU****/
#cont-menu{position:fixed; left:0px; top:0px; width:320px; height:100%; z-index:1500; background-color:#111;}
#logo{position:absolute; top:60px; left:50%; margin-left:-75px; width:150px; height:20px;}
#payoff-logo{position:absolute; top:83px; left:0px; width:100%; height:auto; text-align:center;  font-family: 'proxima_novaregular'; font-size:10px; letter-spacing:1px; color:#B0B2B3; line-height:1.3;}
#menu{position:absolute; top:50%; left:50%; width:220px; margin-left:-110px; margin-top:-160px; height:310px; text-align:center;  }
#menu li{position:relative; float:left; width:100%; margin:0px;  letter-spacing:1px;}
#menu li:hover{background-color:#313133; color:#fff;}


#first-menu{position:relative; float:left; width:160px; margin-left:30px; height:auto;}
#first-menu li{position:relative; float:left; width:100%; font-family: 'proxima_novaregular'; font-size:12px; color:#868789; line-height:1.3; height:auto; }
#first-menu li a{position:relative; float:left; width:100%; margin:0px;  letter-spacing:1px; color: #B0B2B3; text-decoration:none; padding-top:4px; padding-bottom:4px;}
#first-menu li a:hover{ background-color:#313133; color:#fff; }

#second-menu{position:relative; float:left; width:160px; margin-left:30px; height:auto; margin-top:30px;}
#second-menu li{position:relative; float:left; width:100%; font-family: 'proxima_novaregular'; font-size:10px; color:#868789; line-height:1.3; height:auto; }
#second-menu li a{position:relative; float:left; width:100%; margin:0px;  letter-spacing:1px; color: #B0B2B3; text-decoration:none; padding-top:4px; padding-bottom:4px;}
#second-menu li a:hover{text-decoration:none; background-color:#313133; color:#fff; }

.current_page_item{background-color:#313133; color:#fff !important;}

#cont-social-menu{position:absolute; bottom:80px; width:200px; height:auto; left:50%; margin-left:-97px;}
#cont-social-menu h2{font-family: 'proxima_novabold'; font-size:13px; color:#fff;}
#cont-social-menu h3{font-family: 'proxima_novaregular'; font-size:9px; color:#B0B2B3; margin-top:5px; margin-bottom:10px; letter-spacing:1px;}


#social-menu{position:relative; float:left; width:100%; height:auto;}

#facebook-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/facebook-menu.png); background-position:center center;}
#facebook-menu:hover{background-image:url(images/facebook-menu-hover.png);}

#twitter-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/twitter-menu.png); background-position:center center;}
#twitter-menu:hover{background-image:url(images/twitter-menu-hover.png);}

#google-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/google-menu.png); background-position:center center;}
#google-menu:hover{background-image:url(images/google-menu-hover.png);}

#linkedin-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/linkedin-menu.png); background-position:center center;}
#linkedin-menu:hover{background-image:url(images/linkedin-menu-hover.png);}

#pinterest-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/pinterest-menu.png); background-position:center center;}
#pinterest-menu:hover{background-image:url(images/pinterest-menu-hover.png);}

#foursquare-menu{position:relative; float:left; height:20px; width:20px; margin-right:0px; background-image:url(images/foursquare-menu.png); background-position:center center;}
#foursquare-menu:hover{background-image:url(images/foursquare-menu-hover.png);}

#behance-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/behance-menu.png); background-position:center center;}
#behance-menu:hover{background-image:url(images/behance-menu-hover.png);}

#instagram-menu{position:relative; float:left; height:20px; width:20px; margin-right:8px; background-image:url(images/instagram-menu.png); background-position:center center;}
#instagram-menu:hover{background-image:url(images/instagram-menu-hover.png);}

#mail{position:relative; float:left; width:184px; height:21px; font-size:9px; color:#B0B2B3; font-family: 'proxima_novaregular'; margin-top:5px; letter-spacing:1px; border:1px solid #B0B2B3; padding-left:5px;}
#newsletter_invia{position:relative; float:left; width:28px; height:28px; margin-top:3px; border:0px; background-color:transparent; background-image:url(images/mailinglist-menu.png); background-position:center top; background-repeat:no-repeat; cursor:pointer;}
#newsletter_invia:hover{background-position:center bottom;}

#copyright{position:absolute; bottom:30px; left:0px; width:100%; height:auto; text-align:center;  font-family: 'proxima_novaregular'; font-size:9px; color:#B0B2B3; line-height:1.2;}

#menu-close{position:absolute; top:0px; left:0px; height:60px; width:60px; z-index:100000;  background-image:url(images/chiudi-menu.png); background-position:center top; background-repeat:no-repeat; cursor:pointer;}
#menu-open{position:fixed; top:0px; left:-60px; height:100%; width:60px; background-color:#111; background-image:url(images/awd-logo-icon.png); background-position:center center; background-repeat:no-repeat; cursor:pointer; z-index:1000;}


/***GENERAL****/
.cont-center{position:relative; margin:0px auto; width:900px; height:auto; text-align:center; overflow:hidden; padding:40px; padding-top:100px; padding-bottom:100px; }

#cont{position:absolute; right:0px; height:100%; width:100%; z-index:500; background-color: #ffffff !important; }
#cont-right{position:fixed; right:0px; top:0px; height:auto; width:100%; background-color:#111; z-index:500; overflow-x:hidden; }
.cont-ajax{position:absolute; right:0px; top:0px; height:auto; width:100%; z-index:500; display:none; }
.new{position:absolute; right:0px; top:0px; height:auto; width:100%; z-index:500; display:inline;}
.new #prev-art #next-art{right:-60px;}

.visible{position:absolute; right:0px; top:0px; height:auto; width:100%; z-index:500; display:inline;}
.shadow{position:absolute; right:0px; top:0px; height:100%; width:100%; z-index:500; opacity:0.35; background-color:#000; }

#project{position:absolute; height:100%; width:100%; }
#project li{position:relative; float:left; width:25%; overflow:hidden; cursor:pointer;}
/*#project li:hover{-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.6); box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.6); z-index:10000;}*/

#project .piccolo{position:relative; float:left; width:25%;}
#project .medio{position:relative; float:left; width:50%;}
#project .grande{position:relative; float:left; width:75%;}

.transit{position:relative; float:left; width:100%; height:100%;  background-repeat: no-repeat; background-size: cover; -moz-background-size: cover;	background-position: center;}

#cont-right-open{position:fixed; top:0px; right:-60px; height:60px; width:60px; background-color:#fff; background-image:url(images/riduci-menu.png); background-position:center top; background-repeat:no-repeat; cursor:pointer; z-index:100000;}
#cont-right-open:hover{background-position:center bottom;}


.cont-title{position: absolute; width: 200px; height: 100px; background-color: #000; top: 50%; left: 50%; margin-left: -100px; margin-top: -100px; padding-top: 100px; border-radius: 100px; opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */ z-index:100000; display:none; z-index:10;}
.title-category{font-family: 'proxima_novabold'; font-size: 13px; color: #fff; text-align: center; position:absolute; top:50%; margin-top:-7px; width:100%; text-align:center; display:none;  z-index:100; }
.title-category a{text-decoration:none;}
.riassunto-category p{font-family: 'proxima_novaregular'; font-size: 12px; color: #fff; letter-spacing:0px !important; width:100%; position:absolute; top:50%; height:20px; margin-top:7px; text-align:center; line-height: 1; display:none;  z-index:100;}

.riassunto-category-team p{font-family: 'proxima_novaregular'; font-size: 12px; color: #fff; letter-spacing:0px !important; width:100%; position:absolute; top:70%; height:20px; margin-top:7px; text-align:center; line-height: 1; display:none;  z-index:100;}


.cont-title-reference{position: absolute; width: 100%; height:30px; top:50%; margin-top:-15px; }
.title-category-reference{font-family: 'proxima_novabold'; font-size: 13px; color: #000; text-align: center;}
.riassunto-category-reference p{font-family: 'proxima_novaregular'; font-size: 12px; color: #000; letter-spacing:0px !important; width:100%;  text-align:center; line-height: 1; margin-top:3px !important;}


#prev-art{position:fixed; top:120px; right:-60px; height:60px; width:60px; background-color:#fff; background-image:url(images/prev-art.png); background-position:center top; background-repeat:no-repeat; cursor:pointer; z-index:100000;}
#prev-art:hover{background-position:center bottom;}

#next-art{position:fixed; top:60px; right:-60px; height:60px; width:60px; background-color:#fff; background-image:url(images/next-art.png); background-position:center top; background-repeat:no-repeat; cursor:pointer; z-index:100000;}
#next-art:hover{background-position:center bottom;}


/*.video-articolo{height:551px;}*/

/***TEAM****/
#team{position:absolute; height:100%; width:100%; }
#team li{position:relative; float:left; width:20%; overflow:hidden; cursor:pointer;}
#team li:hover{-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.6); box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.6); z-index:10000; cursor:pointer;}


#post-bg-team{position:relative; float:left; width:75%; height:100%;  background-color:#f5f4f2; overflow:hidden;}
#cont-team-text{position:relative; float:left; width:25%; height:100%; background-color:#fff;}
#cont-team-text-center{position:absolute; width:86%; height:300px; top:50%; margin-top:-150px; padding-left:7%; padding-right:7%;}
#cont-team-text-center h1{font-family: 'proxima_novabold'; color:#313133; font-size:15px; margin-bottom:10px; text-align:left; margin-bottom:20px;}
#cont-team-text p{font-family: 'proxima_novaregular'; font-size: 12px; letter-spacing: 1px; color: #868789;}
#cont-team-text p span{font-family: 'proxima_novabold'; color:#313133; font-size:12px; text-align:left;}
#cont-team-text p img{position:relative; float:left; margin-right:5px;}
#cont-team-text p a{font-family: 'proxima_novaregular'; font-size: 12px; color:#868789; letter-spacing: 1px;  text-decoration:none;}

#post-bg-first-news{position:fixed; width:100%; top:0px; left:320px; height:100%; z-index:0;}

/***REFERENCES***/
#references{position:absolute; height:auto; width:100%; background-color:#fff;}
#references li{position:relative; float:left; width:12.5%; overflow:hidden; height:auto; background-color:#fff;}
.bg-references{position:absolute; height:100%; width:100%; background-color:#fff; top:0px; left:0px;}
.title-references{font-family: 'proxima_novabold'; font-size: 15px; color: #000; text-align:left; width:100%; position:absolute; top:50%; height:20px; margin-top:-10px; text-align:center;}
.riassunto-references p{font-family: 'proxima_novaregular'; font-size: 12px; color: #000; letter-spacing:0px !important; width:100%; position:absolute; top:50%; height:20px; margin-top:8px; text-align:center;}

/***NEWS***/
#cont-ajax-news{position:relative; float:left; width:70%; height:100%; background-color:#888; overflow:auto; z-index:1000;}
#cont-news{position:relative; float:left; width:30%; height:100%; background-color:#fff; overflow:auto; z-index:100000; }
#news{position:relative; float:left; width:100%; height:auto;}
#news li{position:relative; float:left; width:100%; height:180px; border-bottom:1px solid #E6E7E8;}
#news li:hover{background-color:#313133; cursor:pointer;}
.current-news{background-color:#313133 !important;}
.current-news h1{color:#fff !important;}

.data-small-news{font-family: 'proxima_novaregular'; font-size: 10px; color: #868789; text-align:left; width:90%; padding-left:5%; padding-right:5%; text-transform:capitalize; margin-top:40px;}
.title-small-news{font-family: 'proxima_novabold'; font-size: 13px; color: #313133; width:90%; padding-left:5%; padding-right:5%; margin-top:5px;}
.riassunto-news p{font-family: 'proxima_novaregular'; font-size: 12px; color: #868789; letter-spacing:0px !important; line-height: 1.5; text-align:left; width:90%; padding-left:5%; padding-right:5%; margin-top:10px;}

/***SINGLE***/
#post-bg{position:fixed; width:100%; top:0px; left:320px; height:100%; z-index:-10 !important; display:none;}
#post-cont{position:relative; float:left; width:100%; height:auto; background-color:#fff; z-index:100000; min-height:650px;}
#post-cont h1{font-family: 'proxima_novabold'; color:#313133; font-size:22px; margin-bottom:20px; text-align:center; position:relative; float:left; width:60%; margin:50px 20%; margin-bottom:20px;}
#post-cont p{font-family: 'proxima_novaregular'; color:#868789; font-size:12px; width:100%; text-align:center; line-height:1.5; }
#post-cont p span{font-family: 'proxima_novaregular'; color:#313133; font-size:12px; width:100%; text-align:center; line-height:1.5;}
#post-cont p span a {text-decoration:none; color:#313133;}

#post-cont-img{position:relative; float:left; width:100%; height:auto; background-color:#fff; }
#post-cont-img img{position:relative; float:left; -webkit-transform: scale(0.9); 
-moz-transform: scale(0.9); transform: scale(0.9);
-webkit-animation: scaleUp 0.4s ease forwards;
-moz-animation: scaleUp 0.4s ease forwards;
animation: scaleUp 0.4s ease forwards;
overflow:hidden;
opacity:0;}
#post-cont-text{position:relative; float:left; width:60%; margin:0px 20%; height:auto; margin-bottom:50px;}

#loader-project{position:fixed; left:320px; height:32px; width:100%; z-index:-100; text-align:center;}

/***CONTACTS***/
#contact-text{position:relative; float:left; width:19%; padding-right:3%; padding-left:3%; height:100%; background-color:#f7f7f7;}
#contact-text-cont{position:absolute; top:50%; width:100%; height:600px; margin-top:-330px;}
#contact-text-cont h1{font-family: 'proxima_novabold'; font-size: 13px; color: #313133; text-align:left; width:100%; margin-top:50px;}
#contact-text-cont p{font-family: 'proxima_novaregular'; font-size: 12px; letter-spacing: 1px; color: #868789; line-height:1.5; margin-bottom: 30px;}
#contact-text-cont p img{margin-bottom:-7px;}
#contact-text-cont p a{font-family: 'proxima_novaregular'; letter-spacing: 1px; color: #000; text-decoration:none;}
#text-map{font-family: 'proxima_novaregular'; letter-spacing: 1px; color: #000; text-decoration:none; margin-top:40px; font-size: 10px; margin-bottom:20px;}
#contact-map{position:relative; float:left; width:75%; height:100%;}

/***SOCIAL***/
#cont-social-text{position:relative; float:left; width:25%; height:100%; background-color:#111;}
#cont-social-text-center {position:absolute; width:86%; height:300px; top:50%; margin-top:-150px; padding-left:7%; padding-right:7%;}
#cont-social-text-center h1{font-family: 'proxima_novabold'; color:#B0B2B3; font-size:13px; margin-bottom:60px; text-align:left;}
#cont-social-text-center h2{font-family: 'proxima_novabold';  color:#fff; font-size:40px; text-align:left; letter-spacing:-2px;}
#cont-social-text-center h3{font-family: 'proxima_novaregular'; color:#fff;  background-color:#313133; font-size:12px; margin-top:60px; text-align:left; letter-spacing:1px; padding-top: 5px; padding-bottom: 5px;
 width:160px; text-align:center; height:auto;}

#cont-social-text p{font-family: 'proxima_novaregular'; font-size: 12px; letter-spacing: 1px; color: #868789;}
#cont-social-text p span{font-family: 'proxima_novalight'; color:#B0B2B3;}
#cont-social{position:relative; float:left; width:75%; height:100%;}

.social{position:relative; float:left; width:25%; height:50%;  background-color:#fff; overflow:hidden;}
.social-text{position:relative; float:left; width:86%; height:250px; text-align:center; padding-left:7%; padding-right:7%; margin-top:-125px; top:50%;}
.social-text .title{position:relative; width:100%; font-family: 'proxima_novabold'; color:#313130; font-size:16px; margin-bottom:60px; text-align:center; margin-top:70px;}
.social-text .title a{text-decoration:none; color:#313130;}
.social-text .subtitle{position:relative; width:100%; font-family: 'proxima_novaregular'; color:#313130; font-size:12px; text-align:center; margin-top:3px;}
.social-text img{position: absolute; top: 0px; left: 50%; }
.social-logo-colorato{margin-left: -30px;}
.social-logo-bianco{margin-left: -30px; display:none;}
.social-icon-colorato{top:100px !important; margin-left:-16px;}
.social-icon-bianco{top:100px !important; margin-left:-16px; display:none;}

#facebook:hover{background-color:#3b5998;}
#twitter:hover{background-color:#00aced;}
#google:hover{background-color:#dd4b39;}
#linkedin:hover{background-color:#007bb6;}
#pinterest:hover{background-color:#cb2027; }
#forsquare:hover{background-color:#3baddc;}
#behance:hover{background-color:#313133;}
#instagram:hover{background-color:#c7b79f;}


/****AGENCY****/
.agency-half{position:relative; float:left; width:50%; height:100%;}
#agency-img{background-image:url(http://www.awdagency.com/wp-content/themes/awdagency/images/awdagency_wall.jpg); background-position:center top; background-size:cover; background-repeat:no-repeat; }
#agency-text{background-color:#111;}
#agency-text p{font-family: 'proxima_novaregular'; font-size:12px; text-align:justify; width:80%; height:auto; margin-right:10%; margin-left:10%; position:absolute; top:50%; margin-top:-50px; letter-spacing:1px; color: #B0B2B3;}

/***SERVICES***/
.services{position:relative; float:left; width:25%; background-color:#fff; height:100%;}
.cont-services{position:absolute; top:50%; height:200px; width:200px; left:50%; margin-left:-100px; margin-top:-100px;  border-radius: 100px; opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */ background-color:#000; z.index:100;}
.services h1{font-family: 'proxima_novabold'; color:#fff; font-size:13px;  text-align:center; width:100%; position:absolute; top:50%; height:15px; left:0px; margin-top:-7px; z-index:200;}
.services p{font-family: 'proxima_novaregular'; color:#fff; font-size:12px; text-align:center; width:80%; height:auto; margin-right:10%; margin-left:10%; position:absolute; top:50px; display:none; z-index:150;}
.services .shadow{z-index:50;}

#creative{background-color:#E6E7E8;  background-image:url(http://www.awdagency.com/wp-content/themes/awdagency/images/creativedesign_awdagency.jpg); background-position:center top; background-repeat:no-repeat; cursor:pointer;}
#web{background-color:#F1F2F2;background-image:url(http://www.awdagency.com/wp-content/themes/awdagency/images/LP_services_awdagency_WEB.jpg); background-position:center top; background-repeat:no-repeat; cursor:pointer;}
#strategy{background-color:#DCDDDE;background-image:url(http://www.awdagency.com/wp-content/themes/awdagency/images/giunchi.jpg); background-position:center top; background-repeat:no-repeat; cursor:pointer;}
#production{background-color:#D1D3D4; background-image:url(http://www.awdagency.com/wp-content/themes/awdagency/images/production_awdagency.jpg); background-position:center top; background-repeat:no-repeat; cursor:pointer;}

/***::-webkit-scrollbar {
    width: 5px;
    background-color:#000;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color:#fff;
}***/

/***RESPONSIVE***/
@media screen and (max-width:1440px) {
#cont-social-text{position:relative; float:left; width:19%; height:100%; background-color:#fff; padding-right:3%; padding-left:3%; display:none;}
#cont-social{position:relative; float:left; width:100%; height:100%; }

#references li{position:relative; float:left; width:25%; overflow:hidden; height:auto;}


}
   
@media screen and (max-width:1280px) {
}

@media screen and (max-width:1024px) {
}

@media screen and (max-width:720px) {
}

@media screen and (max-width:320px) {
}

/***TIMELINE***/

	#timeline {width:100%; height:100%;overflow:hidden;margin:0px auto;position:relative; background-color:#f7f7f7;}
	#cont-date{position:absolute; left:50%; top:0px; width:60px;margin-left:-30px; height:100%; overflow:hidden; z-index:1000; background-color:#313133;}
	#dates {position:absolute; left:50%; top:0px; width:60px;margin-left:-30px; height:100%;overflow:hidden;z-index:1000; background-color:#313133;}
			#dates li {list-style:none;width:60px;height:40px;line-height:100px; font-size:12px; font-family: 'proxima_novabold'; text-align:center; }
				#dates a { text-decoration:none; color:#E6E7E8;}
				#dates .selected {font-size: 16px; color:#fff; font-family: 'proxima_novabold';}
		
		#issues {width:100%;height:100%;overflow:hidden;float:left;z-index:500;}	
			#issues li {width:100%;height:100%;list-style:none;}
				.image-issues{position;relative; float:left; width:50%; height:100%; }
				.text-issues{position;relative; float:left; width:50%; height:100%; }
				#issues li img {position:relative; float:left; width:100%; height:100%;}
				.issues-text{position:relative; float:left; width:34%; height:100%; padding:8%;}
				#issues li h1 {font-family: 'proxima_novabold'; font-size: 13px; color: #313133; text-align:center; width:100%; margin-top:100px;}
				#issues li h2 {font-family: 'proxima_novabold'; font-size: 12px; color: #313133; text-align:center; width:100%; margin-top:50px;}
				#issues li p {font-family: 'proxima_novaregular'; font-size: 12px; letter-spacing: 1px; color: #868789; width:70%; margin:30px auto; text-align:justify;}
				#issues li p span{font-family: 'proxima_novabold'; }

		#grad_top,
		#grad_bottom {width:500px;height:80px;position:absolute;}
			#grad_top {top:0;background: url('../images/grad_top.png') repeat-x;}
			#grad_bottom {bottom:0;background:url('../images/grad_bottom.png') repeat-x;}
		
		#next,
		#prev {position:absolute; left:55%; font-size:70px; width:38px; height:22px; background-position:0 -44px; background-repeat:no-repeat; text-indent:-9999px; overflow: hidden;}
			#next:hover,
			#prev:hover {background-position:0 0;}
			#next {bottom:0; background-image:url('../images/next_v.png');}
			#prev {top:0; background-image:url('../images/prev_v.png');}
				#next.disabled,
				#prev.disabled {opacity: 0.2;}