@charset "UTF-8";

.container-main {
	margin-top: 100px;
}

.container-main .col-md-4{
	flex-direction: column;
	justify-content: center;
}

.container-main .col-md-4 img{
	margin-bottom: 30px;
}

.icons-admin {
	max-width : 180px;
	max-height: 180px;
	align-content: center;
	
}

.options-admin-row{
	margin-top: 20px;
}

.search-bar{
	padding-bottom: 50px;
}

.search-bar input{
	float: left;
  	margin: 0 1.5%;
  	width: 75%;
}

.search-bar button{
	vertical-align: middle;
	float: right;
  	margin: 0 1.5%;
  	width: 19%;
  	height: 100%;
}