<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1">
<title>Admin</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="css/full-width-pics.css" rel="stylesheet">
<link href="/css/admin.css" rel="stylesheet">


</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Silph</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Richieste
							<span class="sr-only">(1)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section>



		<div class=""
			style="opacity: 0.9; background-color: rgb(20, 157, 204);"></div>

		<div class="container container-main">
			<h1 class="pb-3 display-1">Silph</h1>

			<div class="row options-admin-row">

				<div class="col-md-4">
					<a th:href="@{/admin/aggiungifoto}"> <img class = "icons-admin"
						alt="" src="/images/icons/picture.svg">

						<h5 class="mbr-fonts-style display-5">Nuova Immagine</h5>

					</a>
				</div>
				<div class="col-md-4">
					<a th:href="@{/admin/aggiungialbum}"> <img class = "icons-admin"
						alt="" src="/images/icons/album.svg">

						<h5 class="mbr-fonts-style display-5">Nuovo Album</h5>

					</a>
				</div>
				<div class="col-md-4">
					<a th:href="@{/admin/aggiungiphotographer}"> <img class = "icons-admin"
						alt="" src="/images/icons/user.svg">

						<h5 class="mbr-fonts-style display-5">Nuovo Fotografo</h5>

					</a>
				</div>

			</div>
		</div>


	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>