<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
			<title th:text= " 'Silph | ' + ${album.name}"></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a th:href="@{/}"><span class="icon fa-home"></span></a></li>
						<li><a th:href="@{/gallery}" class="active"><span class="icon fa-camera-retro"></span></a></li>
						<li><a th:href="@{/generic}"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">

									<!-- Filters -->
										<header>
											<h1 th:text= "${album.photographer.name} +' > ' + ${album.name} "></h1>
											<ul class="tabs">
												<li><a href="#" data-tag="all" class="button active">All</a></li>
 <!--												<li><a href="#" data-tag="people" class="button">Seleziona</a></li>
<!-- 												<li><a href="#" data-tag="place" class="button">Places</a></li> -->
<!-- 												<li><a href="#" data-tag="thing" class="button">Things</a></li> -->
											</ul>
										</header>

										<div class="content">
										<div class="media" th:each="foto : ${albulmsFotos}">										
													<img th:src="${foto.path}" alt="" title="This right here is a caption." />
													<a class="btn" >Select</a>
													<a class="btn"th:href= "${foto.path}" >View</a>
										</div>
								</div>
						</section>

					<!-- Contact -->
						<section id="contact">
							<!-- Social -->
								<div class="social column">
									<h3>About Me</h3>
									
									<p>Silph è un sito freelance fondato da Alice Di Carlo. Studentessa in ingegneria informatica Alice mosse i suoi primi passi nell'informatica moderna attraverso l'esame dei Sistemi Informativi sul WEB.</p>
									<h3>Follow Me</h3>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</div>

							<!-- Form -->
								<div class="column">
									<h3>Get in Touch</h3>
									<form action="#" method="post">
										<div class="field half first">
											<label for="name">Name</label>
											<input name="name" id="name" type="text" placeholder="Name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit"></li>
										</ul>
									</form>
								</div>

						</section>
				</section>
		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
		
	</body>
</html>