<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Silph | ' + ${photographer.NomeIntero}" ></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/Artista&Album.css"/>
		
	</head>
	<body>
<!-- 				Nav -->
<!-- 				<nav id="nav"> -->
<!-- 					<ul> -->
<!-- 						<li><a th:href="@{/}" class="active"><span class="icon fa-home"></span></a></li> -->
<!-- 						<li><a th:href="@{/gallery}"><span class="icon fa-camera-retro"></span></a></li> -->
<!-- 						<li><a href="generic.html"><span class="icon fa-file-text-o"></span></a></li> -->
<!-- 					</ul> -->
<!-- 				</nav> -->
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img th:src="${photographer.avatarPath}" alt="" /></span>
						<h1>This is <strong th:text="${photographer.NomeIntero}"></strong> 
						<h3 th:text="${photographer.descrizione}"></h3>
						</h1>
						<ul class="icons">
							<li><a th:href="@{/}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a th:href="@{/}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a th:href="@{/}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a th:href="@{/}" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a th:href="@{/}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div th:each="album : ${photograpersAlbums}"> 
									<a th:href="@{'/album/'+${album.id}}">
<!-- immagine piu cliccata -->			<img th:src="${album.fotoCliccata}" alt="" />
										<h3 th:text="${album.name}"></h3>
									</a>
								</div>

							</section>

					</section>
			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>