<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1">
<title>Carrello</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="css/full-width-pics.css" rel="stylesheet">
<link href="/css/admin.css" rel="stylesheet">


</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Silph</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item"><a class="nav-link" th:href="@{/cart/annulla}">Annulla</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section>





		<div class=""
			style="opacity: 0.9; background-color: rgb(20, 157, 204);"></div>

		<div class="container container-main">
			<h4 class="pb-3">Carrello</h4>
			<form th:if ="${cart != null}" th:object = "${cart}" th:action = "@{/cart}" enctype="multipart/form-data" method="post" id = "form">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Nome</span>
					</div>
					<input type="text" class="form-control" placeholder="Obbligatorio"
						aria-label="Nome" aria-describedby="basic-addon1" th:field = "*{name}">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Cognome</span>
					</div>
					<input type="text" class="form-control" placeholder="Obbligatorio"
						aria-label="Cognome" aria-describedby="basic-addon2" th:field = "*{cognome}">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Descrizione</span>
					</div>
					<textarea class="form-control" aria-label="Descrizione" th:field = "*{descrizione}"></textarea>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Email</span>
					</div>
					<input type="email" class="form-control" placeholder="Obbligatorio"
						aria-label="Email" aria-describedby="basic-addon4" th:field = "*{email}">
				</div>
				
				<div class=" mb-3">
				<div class="col-md-3" th:each = "foto : ${cart.selezionate}">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="${foto.path}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title" th:text = "${foto.name}"></h5>
						</div>
					</div>
				</div>
				</div>
				

				<button type="submit" form="form" class="btn btn-outline-success">Conferma</button>
				
				
			</form>
		</div>


	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>