<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Silph | Photograph Agency</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a th:href="@{/}" class="active"><span class="icon fa-home"></span></a></li>
						<li><a th:href="@{/gallery}"><span class="icon fa-camera-retro"></span></a></li>
						<li><a th:href="@{/generic}"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
					
				</nav>
				

			<!-- Main -->
				<section id="main">
					
					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1>Hey, I'm Silph</h1>
								<p>An awesome gallery by <a href="https://templated.co">SILPH</a></p>
								<ul class="actions">
									<li><a th:href="@{/gallery}" class="button alt scrolly big">Take a look</a></li>
								</ul>
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<h2> Photographer</h2> <!-- hibernate dei fotografi -->
									</header>
									<div class="content">
									<div class="media" th:each="photographer : ${photographers}">
										<a th:href="@{'/photographer/'+${photographer.id}}"><img th:src="${photographer.avatarPath}" alt="" title="This right here is a caption." /></a>
									</div>
								</div>
						</section>

					<!-- Contact -->
						<section id="contact">
							<!-- Social -->
								<div class="social column">
									<h3>About Me</h3>
									<p>Silph è un sito freelance fondato da Alice Di Carlo. Studentessa in ingegneria informatica Alice mosse i suoi primi passi nell'informatica moderna attraverso l'esame dei Sistemi Informativi sul WEB.</p>
									<p></p>
									<h3>Follow Me</h3>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
									
									<span>or</span>
									<a class = "navbar-toggler" type = "button" th:href = "@{/login}">Login Admin</a>
								</div>
								
								

							<!-- Form -->
								<div class="column">
									<h3>Get in Touch</h3>
									<form action="#" method="post">
										<div class="field half first">
											<label for="name">Name</label>
											<input name="name" id="name" type="text" placeholder="Name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit"></li>
										</ul>
									</form>
								</div>

						</section>

				</section>
		</div>

		<!-- Scripts -->
			<script src="/js/jqueryHome.min.js"></script>
			<script src="/js/jquery.poptroxHome.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skelHome.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/mainHome.js"></script>

	</body>
</html>